body {
  background-color: #efefef;
}
body {
  background-color: #fff;
  font-size: 14px;
  color: #333;
  margin: 0;
}

h1,h2,h3,h4 {
  margin: 0 0 10px 0;
  padding: 0;
}

h1 {
  text-align: center;
}
header {
  margin-top: 20px;
}

h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.taim {
  color: red;
}

.container {
  width: 920px;
  margin: 0 auto 40px auto;
  background-color: #fff;
}

.header-title-area {
  margin-top: 40px;
  margin-bottom: 30px;
  margin-right:auto;
  margin-left:auto;
}

.logo {
  font-size: 32px;
}

.header-navigation {
  width: 100%;
  background-color: #333;
  padding: 20px 0;
}

.header-navigation:after {
  clear: both;
  display: block;
  content: " ";
}

.header-navigation li {
  float: left;
  padding: 0 30px;
  text-align: center;
  list-style-type: none;
}

.header-navigation li a {
  color: #fff;
  text-decoration: none;
}

.blog-image{
  float: left;
  margin: 10px 10px 10px 10px;
}

.blog-text{
  position: relative;
  top: 30px;
  left: 20px;
}

.text-title {
  color: pink;
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
}

.text {
  color: block;
  font-size: 12px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
}

.card-contents {
  padding: 40px;
  display: block;
  margin-bottom: 20px;
  background-color: #fff;
}

.left-contents {
  width: 600px;
  margin-right: 40px;
  float: left;
}

.right-contents {
  width: 300px;
  float: left;
}

.new-contents-area:after{
  clear: both;
  display: block;
  content: " ";
}

.new-contents {
  width: 600px;
    margin-right: 10px;
    float: left;
}

.new-image{
  margin-bottom: 50px;
  width: 100px;
  height: 60px;
  display: block;
  float: left;
}

.new-text{
    top: 20px;
    left: 20px;
    float: left;
}

.new-title{
  color: pink;
  font-size: 10px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
}

.new-taim {
  color: red;
  font-size: 5px;
}

.copyright {
  color: #777;
  text-align: center;
  width: 200px;
  height: 100px;
 margin: 40px auto 10px auto;
}

.main:after {
  clear: both;
  display: block;
  content: " ";
}
